/* style.css*/

/*Привязка стиля к тегу тела*/
body {
	display: flexbox;
	text-align: center;
	align-items: center;
}

/* Стиль сводки расходов */
.summary {
	width: 25rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto;
	margin-bottom: 40px;
	padding: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.total {
	display: flex;
	flex-direction: row;
	margin: auto;
}

.total>div {
	width: 200px;
}

/* Стиль таблицы расходов и формы ввода*/
.root {
	width: fit-content;
	background-color: white;
	display: flex;
	margin: auto;
	padding: 2%;
	padding-top: 1%;
	justify-content: center;
	text-align: center;
	border-width: 6px;
	border: 6px grey;
	box-sizing: content-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	min-height: 30vh;
}


/* Стиль для вертикальной полосы*/
.vertical {
	color: rgb(35, 35, 106);
	margin: 0 2%;
	border-width: 5px;
}

/* Стиль для таблицы*/
#table {
	border-collapse: collapse;
	width: 50vw;
	border: 1px solid #ddd;
	font-size: 18px;
}

/* Таблица */
#table th,
#table td {
	text-align: left;
	padding: 12px;
}

/* Строка таблицы */
#table tr {
	border-bottom: 1px solid #ddd;
}

/* Заголовки*/
#table tr.titles {
	background-color: lightblue;
}

/* Стиль для каждого входного элемента */
.inputitem {
	display: flex;
	flex-direction: row;
	font-weight: bolder;
	font-size: large;
	padding: 1%;
}

input,
select,
option {
	padding: 1%;
	border-radius: 5px;
	margin: 1%;
}

button {
	font-size: medium;
	border-radius: 5px;
	padding: 1%;
}

.zoom {
	color: black;
	transition: transform .2s;

}

.zoom:hover {
	transform: scale(2.23);
	color: red;
}
.order{
    button {
            padding: 10px 7px;
            height: 70px;
            font-size: 15px;
            border-radius: 10px;
            border: 2px solid black;
            background-color: lightblue;
        }
}
<head>
<style>
       .button {
           float: right;
           width: 100px;
           background-color: lightblue;
       }
    </style>
</head>

